.ai-image-generator{ /*the whole class*/
    display: flex;
    flex-direction: column; /* the child elements inside .ai-image-generator will be arranged top-to-bottom */
    margin: auto;
    align-items: center;
    margin-top: 30px; 
    margin-bottom: 10px;
    gap: 40px;
}

.header{ /*the text header only*/
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 10px;
}

.header span{
    color: rgb(208, 51, 57);
    font-weight: 600;
}

.img-loading{
    display: flex;
    flex-direction:column;
}

.img-loading img{
    width: 512 px;
}

.search-box{
    display: flex;
    width: 1000px;
    height: 85px;
    justify-content:space-around; /*each flex item is surrounded by equal space*/
    align-items: center;
    border-radius: 50px;
    background: #382f28
}

/* the css for the text in the search box*/
.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px; /* The text inside is 18 pixels in size */
    color: white; /*the text color*/
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder{ /*for the words "describe what you want to see" */
    color: #9b9a9a
}

/* the generated button */
.generate-btn{
    display: flex; /* Makes the button a flex container, so its child elements can be easily aligned */
    align-items: center; /* Vertically centers the content inside the button */
    justify-content: center; /* Horizontally centers the content inside the button */
    width: 300px;
    height: 75px;
    font-size: 20px;
    border-radius: 50px;
    background: #b36572;
    cursor: pointer;
}

.loading-bar{ /*a hidden loading bar*/
    width: 0px;
    height: 8px;
    background: #DE1b89;
}

.loading-text{
    font-size: 18px;
}

.loading-bar-full{
    width: 512px;
    height: 8px;
    background: #DE1b89;
    transition: 15s; /*for the loading animation*/
}

.display-none{
    display: none;
}